body
{
background-color:#FFFFEB;
}

#logobox {
    float: right;
    margin: 2ex 2ex 2ex 2ex;
}

#langselectionbox {
    float: left;
    margin-bottom: 1em;
}

#inputbox {
    float:left;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-top: 1em;
}

.resultbox {
   float:left;
   text-align: center;
}

.subinfo {
    float:left;
    width: 400px;
}

#resultcorrect {
    clear: both;
    float:left;
}

#notice {
    float:left;
    display: none;
    background-color: yellow;
}
#infobox {
    clear: left;
    float: left;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 80%;
    /*width: 200px;*/
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#infobox dl {
    /*background-color: #BBCCAA;*/
    padding: 0.2em;

}
#infobox dt {
    float:left;
    clear:left;
    width:125px;
    text-align:right;
    /*width: 10em;*/
    /*overflow: hidden;*/
    clear:left;
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 3px;
}

#infobox dt:after {
    content: ":";
}

#infobox dd {
    margin: 0 0 0 110px;
    padding: 0;
    float: right;

    /*width: 7em;*/
    /*background-color: #AABBCC;*/

    /*clear: both;*/
    /*overflow: hidden;*/
}