body
{
background-color:#FFFFEB;
}

#logobox {
    float: right;
    margin: 2ex 2ex 2ex 2ex;
}

#langselectionbox {
    float: left;
    margin-bottom: 1em;
}

#inputbox {
    float:left;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-top: 1em;
}

.resultbox {
   float:left;
   text-align: center;
}

.subinfo {
    float:left;
}