body
{
background-color:#FFFFEB;
}

#logobox {
    float: right;
    margin: 2ex 2ex 2ex 2ex;
}

#langselectionbox {
    float: left;
    margin-bottom: 1em;
}

#inputbox {
    float:left;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-top: 1em;
}

.resultbox {
   float:left;
   text-align: center;
}

.subinfo {
    float:left;
}

#resultcorrect {
    clear: both;
    float:left;
}

#notice {
    float:left;
    display: none;
    background-color: yellow;
}
#infobox {
    float: left;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 80%;
    /*width: 200px;*/
}

#infobox dl {

    background-color: #BBCCAA;

}
#infobox dt {
    float:left;
    /*width: 10em;*/
    /*overflow: hidden;*/
    clear:left;
    margin-left: 0;
    padding-left: 0;
}

#infobox dd {
    float: left;

    /*width: 7em;*/
    background-color: #AABBCC;

    /*clear: both;*/
    /*overflow: hidden;*/
}